<div id="vueapp">
    <input type="text" v-model="firstname"/> @*2 way binding here using v-model*@
    <p>{{firstname}}</p>
</div>



<script>
    var mainView = new Vue({
        el: '#vueapp',
        data: {
            firstname: "",
        },
    });
</script>


<div id="app">
    <input type="text" v-on:input="changeTitle" />
    <p>{{title}}</p>
    <p>{{sayHello()}}</p>
    <p>{{sayHelloUsingProperty()}}</p>
    <p>
        @*Create a web link - below doesn't work as we can only use {{ }} where text is in place, not html elements'*@
        <a href="{{link}}">Google </a>
    </p>
    <p>
        @*Create a weblink - this does work*@
        <a v-bind:href="link"> Google working</a>
    </p>
    <!-- title is only going to be rendered once, then when the title changes dynamically in the program, further changes will be ignored here-->
    <h1 v-once> {{title}}</h1>
</div>





<script>
    new Vue({
        el: '#app',
        data: {
            title: 'hello world',
            link: 'http://www.google.co.uk',
        },
        methods: {
            changeTitle: function (event) {
                this.title = event.target.value;
            },

            sayHello: function () {
                return 'Hello';
            },
            // use 'this' anywhere inside of the Vue object to access properties
            //don't need this in html / dom though
            sayHelloUsingProperty: function () {
                return this.title;
            }

        }
    });

</script>